<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk Python Podcast</title>
    <link href="../static/styles.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Work+Sans">
    <script src="https://kit.fontawesome.com/5fa79f3e5b.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <ol class="custom-nav">
        <li><a href="index.html"><img src="https://cdn-podcast.talkpython.fm/static/img/talk_python_logo_mic.png?cache_
        id=dd08157a0f56a88381ec34afe167db21" alt="A picture of a microphone, you can click this to go back to the home
        page" class="tp-logo"></a></li>
        <li id="name"><a href="index.html">
            <span class="hover-highlight">
            <span class="white-text">TalkPython[</span><span class="green-text">'</span><span class="yellow-text">Podcast</span><span class="green-text">'</span><span class="white-text">]</span>
        </span></a></li>
        <li><a href="#">Episodes</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Live stream</a></li>
        <li><a href="#">Guests</a></li>
        <li><a href="#">Merch</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
    </ol>
</header>
<div class="hero-image">
    <div class="hero-image-content">
        <h1>
            Talk Python To Me
        </h1>
        <p>
            A podcast on Python and related technologies
        </p>
        <section class="line-section">
            <hr>
        </section>
    </div>
</div>
</body>
</html>
